/* Main CSS file */


body {
  font:helvetica;
  line-height: 1.5;
  background-color: #fafafa;
}

h1 {
  font:helvetica bold;
  font-size: 3vw;
  color: #024453;
}

h2 {
  font:helvetica bold;
  font-size:2.5vw;
  color: #024453;
}

h3 {
  font:helvetica bold;
  font-size:2vw;
  color: #024453;
}


p{
  font-size:2vw;
  opacity: 0.7;
}


.y-title{
   font-size:2vw;
   opacity: 0.7;
}
.y-axis{
  font-size:2vw;
  opacity: 0.7;
}


.x-title{
   font-size:2vw;
   opacity: 0.7;
}
.x-axis{
  font-size:2vw;
  opacity: 0.7;
}


#start-reminder{

  font-size:1.5vw;
  fill:orange;
}

#input_choice {
  position: relative;
  top: 40px;
  margin-left: 6em;
}

#input_choice input {
  margin: 0 5px 2px 0;
}

#keyboard_controls {
  position: relative;
  top: 40px;
  left: 0%;
  width: 78%;
  margin: 0.5em auto 0 auto;
  display: grid;
  grid: 2em / 1fr 2fr 2fr 2fr 1fr;
  justify-items: center;
}

#keyboard_controls > :first-child{
  justify-self: start;
  padding-left: 1em;
}

#keyboard_controls > :last-child{
  justify-self: end;
}

#keyboard_controls input {
  width: 4em;
}

/* There's an .visually-hidden class in Bootstrap you can use. */
