/* Main CSS file */


body {
  font:helvetica;
  line-height: 1.5;
  background-color: #fafafa;
}

h1 {
  font:helvetica bold;
  font-size: 3vw;
  color: #024453;
}

h2 {
  font:helvetica bold;
  font-size:2.5vw;
  color: #024453;
}

h3 {
  font:helvetica bold;
  font-size:2vw;
  color: #024453;
}


p{
  font-size:2vw;
  opacity: 0.7;
}


.y-title{
   font-size:2vw;
   opacity: 0.7;
}
.y-axis{
  font-size:2vw;
  opacity: 0.7;
}


.x-title{
   font-size:2vw;
   opacity: 0.7;
}
.x-axis{
  font-size:2vw;
  opacity: 0.7;
}


#start-reminder{

  font-size:1.5vw;
  fill:orange;
}


#keyboard_controls {
  position: relative;
  top: -40px;
  left: -1%;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
}

#keyboard_controls input {
  width: 4em;
}

#keyboard_controls label {
  /* For screen readers only */
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

